*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: white;
    font-family: sans-serif;
    line-height: 160%;
    font-size: 85%;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    line-height: 180%;
}
ul li *{
    display: flex;
    align-items: center;
    gap: 5px;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
}
main{
    background-color: black;
    height: 100vh;
    display: flex;
}
/* svg color */
.white-svg{
    fill: white;
}

/* --- NAV --- */
#nav{
    width: 180px;
    height: 100vh;
    /* padding-bottom: 60px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#nav > :first-child{
    width: 100px;
    /* margin: 15px; */
    display: flex;
}
#nav > :first-child > :first-child{
    display: none;
}
#nav img{
    width: 100px;
}
/* guardare lezione per vedere come si comporta a 350height */
#nav > :nth-child(3){
    overflow-y: auto;
}
#nav > :last-child{
    position: fixed;
    bottom: 70px;
    width: 150px;
}
#nav > :last-child > :first-child{
    border-bottom: 1px solid white;
}
#nav > :last-child > :last-child span{
    width: ;
}
/* --- NAV MOBILE VERSION --- */
@media screen and (max-width: 576px) {
    #nav{
        width: 48px;
    }
    #nav > :first-child > :first-child{
        display: inline-block;
        width: 18px;
    }
    #nav > :first-child > :nth-child(2){
        display: none;
    }
    #nav > div{
        display: none;
    }
    #nav ul li span{
        display: none;
    }
    #nav svg{
        margin-block: 4.2px;
    }
    #nav > :last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18px;
    }
    #nav > :last-child > :first-child{
        border-bottom: none;
    }
}

/* --- CENTRAL --- */
#central{
    background-color: #1C1F26;
    height: 100vh;
    flex-grow: 1;
}
#upgrade{
    height: 60px;
    width: 100%;
    background-color: rgba(18, 19, 24, 0.8);
    position: fixed;
    top: 0;
    z-index: 1;
}
footer{
    background-color: #2C2C2C;
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}