*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dashed white; */
}
html{
    color: white;
    font-family: sans-serif;
    line-height: 160%;
    font-size: 85%;
}
a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
a:hover{
    opacity: 1;
}
ul{
    list-style: none;
    line-height: 180%;
}
ul li *{
    display: flex;
    align-items: center;
    gap: 5px;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
}
main{
    background-color: white;
    height: 100vh;
    display: flex;
}
/* - svg color - */
.link-svg{
    fill: #787878;
}
.white-svg{
    fill: white;
}

/* --- NAV --- */
#nav{
    width: 180px;
    height: 100vh;
    /* padding-bottom: 60px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: black;
    padding-bottom: 70px;
    justify-content: space-between;
}
#nav > :first-child{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#nav > :first-child > :first-child{
    width: 100px;
    /* margin: 15px; */
    display: flex;
}
#nav > :first-child > :first-child > :first-child{
    display: none;
}
#nav img{
    width: 100px;
}
/* guardare lezione per vedere come si comporta a 350height */
.nav-overflow{
    overflow-y: auto;
}
/* sistemare overflow */
#nav > :last-child{
    /* position: fixed;
    bottom: 70px; */
    width: 150px;
}
#nav > :last-child > :first-child{
    border-bottom: 1px solid white;
}
/* --- NAV EXTRA SMALL VERSION --- */
@media screen and (max-width: 576px) {
    #nav{
        width: 48px;
    }
    .white-logo{
        fill: white;
    }
    #nav > :first-child > :first-child{
        display: inline-block;
        width: 18px;
    }

    #nav > :first-child > :nth-child(2){
        display: none;
    }
    #nav > div{
        display: none;
    }
    #nav ul li span{
        display: none;
    }
    #nav svg{
        margin-block: 4.2px;
    }
    #nav > :last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18px;
    }
    #nav > :last-child > :first-child{
        border-bottom: none;
    }
}

/* --- UPGRADE BAR --- */
#upgrade{
    height: 60px;
    /* width: 90%; */
    background-color: rgba(18, 19, 24, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 180px;
    z-index: 1;
}
#upgrade a{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 85%;
}
#upgrade a:hover{
    font-size: 100%;
}
/* --- UPGRADE BAR EXTRA SMALL VERSION --- */
@media screen and (max-width: 576px) {
    #upgrade{
        left: 48px;
}
}

/* --- CENTRAL --- */
#central{
    position: fixed;
    top: 0;
    right: 0;
    left: 180px;
    background-color: #1C1F26;
    height: 100vh;
    padding-top: 70px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-inline: 20px;
    padding-bottom: 65px;
}
#central ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.playlists{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.playlists > h2,
.playlists > span{
    width: 100%;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: calc((100% / 6) - 10px);
}
.album figure{
    width: 100%;
    position: relative;
}
.album figure:hover img{
    opacity: 0.4;
}
.album figure:hover::before{
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9V168c0-8.7 4.7-16.7 12.3-20.9z" fill="white"/></svg>');
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-25px, -25px);
    height: 80%;
    z-index: 1;
    cursor: pointer;
}
.album figure img{
    width: 100%;
    display: block;
}
.album h4{
    text-align: center;
}
.album h4,
.album span{
    font-size: 90%;
}
#central > :last-child figure,
#central > :last-child img{
    border-radius: 50%;
}
/* --- CENTRAL MEDIUM VERSION --- */
@media screen and (max-width: 992px) {
    .album {
        width: calc((100% / 4) - 10px);
    }
}
/* --- CENTRAL SMALL VERSION --- */
@media screen and (max-width: 768px) {
    .album {
        width: calc((100% / 2) - 10px);
    }
}
/* --- CENTRAL EXTRA SMALL VERSION --- */
@media screen and (max-width: 576px) {
    #central{
        left: 48px;
}
}

/* --- FOOTER --- */
footer{
    background-color: #2C2C2C;
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.play-bar{
    width: 60%;
    background-color: #787878;
    height: 5px;
    border-radius: 2px;
}
.viewed{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 2px;
}
#foot-left{
    display: flex;
    height: 100%;
    padding: 5px;
    width: 15%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
#foot-left > :first-child{
    display: flex;
    gap: 5px;
}
#foot-left img{
    width: 45px;
    display: block;
}
#foot-left > :first-child div{
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#foot-left > :first-child a:hover{
    text-decoration: underline;
}
#foot-central{
    height: 100%;
    width: 50%;
    padding: 5px;
}
#upper-central{
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.bigger:hover{
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#lower-central{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
#foot-right{
    display: flex;
    height: 100%;
    padding: 5px;
    width: 15%;
    gap: 10px;
    align-items: center;
}

